# Backend
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
PORT=3000
APP_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
LOG_LEVEL=dev

# Frontend
VITE_API_URL=http://localhost:3000/api/v1
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
